<h1>Create a Review for the Restaurant</h1>

<div class="container">
  <%= simple_form_for [ @restaurant, @review ] do |f| %>
    <%= f.input :content %>
    <%= f.input :rating %>
    <%= f.submit 'Submit Review', class: "btn btn-primary"%>
  <% end %>
</div>
